@page
@model RegisterModel
@{
    ViewData["Title"] = "Добавить рабочего";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<h1 class="text-center">Регистрация рабочего</h1>

<div class="row">
    <div class="col-md-4" style="margin-left: 35%">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Secondname"></label>
                <input asp-for="Input.Secondname" class="form-control" />
                <span asp-validation-for="Input.Secondname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Salary"></label>
                <input asp-for="Input.Salary" class="form-control"/>
                <span asp-validation-for="Input.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Phone"></label>
                <input asp-for="Input.Phone" class="form-control"/>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserRole"></label>
                <select asp-for="Input.UserRole" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                </select>
                <span asp-validation-for="Input.UserRole" class="text-danger"></span>
            </div>
            <button style = "margin-top: 5px" id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Добавить</button>
        </form>
    </div>
@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                    </p>
                                </div>
                }
                else
                {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                        </p>
                                    </div>
                                </form>
                }
            }
        </section>
    </div>*@
</div>

<style>
    .form-floating{
        margin-top: 5px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
